# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. SQL
4. Scala 
5. java
6. Ruby

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. Keras
7. TensorFlow
8. Pytorch

|Data Science Tools|
|---|
|Anaconda|
|Jupyter Notebooks|
|R studio|
|Spyder|
|Zeppelin|

##### Below are a few examples of evaluating arithmetic expressions in python

In [10]:
#this is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [12]:
#this will convert 200 minutess to hours by dividing by 60
#total minutes divided by 60
200//60

3

### Objectives:
* add comments to code cells
* Create markdown cells
* Add ordered and inordered lists to markdown cells
* Format content of markdown cells with heading styles

### Author
shubhendu subhakar